ANTHROPIC_KEY=your_anthropic_api_key_here
OPENAI_API_KEY=your_openai_api_key_here

# ----
SERPAPI_API_KEY=your_serpapi_api_key_here
TAVILY_API_KEY=your_tavily_api_key_here

COMPOSIO_API_KEY=your_composio_api_key_here

# ---
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
CLERK_SECRET_KEY=your_clerk_secret_key_here
CONVEX_DEPLOYMENT=your_convex_deployment_here
# --------
NEXT_PUBLIC_CONVEX_URL=your_convex_url_here
NEXT_PUBLIC_CONVEX_SITE_URL=your_convex_site_url_here
CLERK_JWT_ISSUER_DOMAIN=your_clerk_jwt_issuer_domain_here
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/auth/callback
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/auth/callback

# ------------
# UPSTASH_REDIS_REST_URL="your_upstash_redis_rest_url_here"
# UPSTASH_REDIS_REST_TOKEN="your_upstash_redis_rest_token_here"

# New -aria
UPSTASH_REDIS_REST_URL="your_upstash_redis_rest_url_here"
UPSTASH_REDIS_REST_TOKEN="your_upstash_redis_rest_token_here"
UPSTASH_PORT=6379

# Backend URL
# AGENT_BACKEND_URL=http://localhost:8000
AGENT_BACKEND_URL=your_agent_backend_url_here
