ANTHROPIC_API_KEY=your_anthropic_api_key_here
OPENAI_API_KEY=your_openai_api_key_here

# llama
LLAMA_CLOUD_API_KEY=your_llama_cloud_api_key_here

# Composio
COMPOSIO_API_KEY=your_composio_api_key_here

# vector 
PINECONE_INDEX_NAME=your_pinecone_index_name_here
PINECONE_API_KEY=your_pinecone_api_key_here

# graph
NEO4J_URI=your_neo4j_uri_here
NEO4J_USERNAME=your_neo4j_username_here
NEO4J_PASSWORD=your_neo4j_password_here
NEO4J_DATABASE=your_neo4j_database_here
AURA_INSTANCEID=your_aura_instance_id_here
AURA_INSTANCENAME=your_aura_instance_name_here
REDIS_URL=your_redis_url_here

# Frontend Client URL
FRONTEND_URL=http://localhost:3000

# Convex URL
CONVEX_SITE_URL=your_convex_site_url_here
